atomicwrites==1.4.0
attrs==20.1.0
click==7.1.2
colorama==0.4.3
iniconfig==1.0.1
lxml==4.5.2
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
prompt-toolkit==3.0.6
py==1.9.0
pyparsing==2.4.7
pytest==6.0.1
six==1.15.0
toml==0.10.1
typer==0.3.2
wcwidth==0.2.5
